.cart{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: bisque;
    margin: 5px;
}
.cart img{
    height: 30px;
    width: 30px;
    padding-right: 10px;
    
}